{% extends "base.html" %}

{% block body %}

  <div class="container">

        <div class="hero-unit">

        <h3>About</h3>
          <p><strong>What?</strong> This app serves various purposes, including polarity cartoons and the logo for the bruges project.</p>

          <p><strong>Who?</strong> This stuff is maintained, barely, by <a href="https://agilescientific.com/">Agile*</a>.</p>

          <p><strong>Why?</strong> That's all there is to it. Use the links in the navbar to explore, or check out <a href="https://geosci.ai/">the other geosci.ai apps</a>.</p>

      </div>

  </div>

{% endblock %}
