<!DOCTYPE html>
<html>

<head>
  <title>agile</title>
  <link rel="stylesheet" media="screen" href = "https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
  <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% include "navbar.html" %}
        </div>
      </div>
    </div>

  {% block body %}{% endblock %}

  <hr />
        <div class="container">

  <footer>
    <div style="float:right">
      <a title="Powered by Flask" href="http://flask.pocoo.org/"><img src="static/flask.svg" width="30" alt="Powered by Flask" /></a>
    </div>
    <p><a href="http://scienxlab.org/">© 2024 Scienxlab</a></p>
  </footer>
</div>

</body>

</html>
